<h2>הרשמה לספק</h2>
<form action="/supplier/register" method="POST">
  <input type="text" name="companyName" placeholder="שם חברה" required />
  <input type="text" name="phone" placeholder="מספר טלפון" required />
  <input type="text" name="representative" placeholder="שם נציג" required />

  <!-- מידע על המוצר -->
  <h3>הוסף מוצרים:</h3>
  <div id="product-container">
    <div class="product">
      <input type="text" name="productName[]" placeholder="שם מוצר" required />
      <input type="number" name="price[]" placeholder="מחיר מוצר" required />
      <input
        type="number"
        name="minQuantity[]"
        placeholder="כמות מינימלית"
        required
      />
    </div>
  </div>

  <button type="submit">הרשמה</button>
</form>
