<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>על המדף</title>
  </head>
  <body id="specific-page">
    <div class="logo-title">על המדף</div>
    <h1>ברוכים הבאים למערכת ניהול המכולת שלכם</h1>

    <div class="main-buttons">
      <button onclick="location.href='/owner/login'">כניסת בעל המכולת</button>
      <button onclick="location.href='/supplier/login'">כניסת ספק</button>
    </div>
  </body>
</html>
